@import "../shared/mobile-responsive.sass"
@import "../shared/color.sass"

//Improved CSS

.quill-editor
   width: 100%
   height: 100%
   display: flex
   flex-direction: column

.ql-container
   flex-grow: 1

.center-align-item
   display: flex
   align-items: center
   justify-content: center

.file-viewer-tab
   height: 100%

   .root
      height: 100% !important

   .container
      padding: 0

   .v-tabs
      flex: 0 !important

   .v-window-item
      display: flex
      flex-direction: column
      height: 100%

   .v-tabs-items
      height: 100%

   a
      display: none !important

   .cui-herodock a.cui-ctl-medium
      display: none 

.video-tab
   height: 100%
   display: flex
   flex-direction: column

   .video-upload
      height: 100%
      width: 100%
      display: flex
      flex-direction: column

   .v-tabs
      flex: 0 !important

   .v-window
      flex-grow: 1 !important

      .v-window-item--active
         height: 100%

      .video-youtube
         display: flex
         flex-direction: column
         height: 100%

      .video-loader
         width: 100%
         height: 100%
         display: flex
         justify-content: center
         align-items: center

      .v-window__container
         height: 100%

   .tab-items
      flex-grow: 1


//End of Improved CSS

.live-con
   flex-grow: 1

.live-test
   display: flex
   flex-direction: column

.video-js
   width: 100% !important
   height: 100% !important

.video-player-box
   height: 100% 
   width: 100%


.konvajs-content
   margin: auto !important
   border: 5px solid white !important   

.live-navbar
   background-color: $background-darkgrey
   color: $background-white

.student-control-buttons
   display: flex
   align-items: center
   justify-content: center
   height: 100%
   flex-direction: column

.canvas 
   flex-grow: 1

.white-icon
   color: white
   font-size: 20px

.whiteboard-toolbar
   width: 100%
   height: 40px
   background-color: $background-darkgrey
   display: flex

.signature-pad
   width: 100%

.quillWrapper
   display: flex
   flex-direction: column

.toolbar-item-menu
   display: flex
   height: 50px

   .item:hover
      background-color: $background-kindagrey

   .item-round
      width: 40px
      height: 40px
      border-radius: 40px

   .item
      width: 50px
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer

      .white-background
         background-color: $background-white

      .black-background
         background-color: black

      .border
         border: 1px solid black

      .item-outer-1
         width: 15px
         height: 15px
         border-radius: 15px

      .item-outer-2
         width: 20px
         height: 20px
         border-radius: 20px

      .item-outer-3
         width: 25px
         height: 25px
         border-radius: 25px

.eraser
   transform: rotate(45deg)

.toolbar-item
   color: $background-white
   width: 50px
   cursor: pointer
   display: flex
   align-items: center
   justify-content: center

.signature-pad
   flex-grow: 1

.quill-editor
   background-color: $background-white


.screen-sharing-control 
   z-index: 100
   margin: 20px

.screen
   height: 100%

.media-file > .media-file-overlay
   display: none

.media-file:hover > .media-file-overlay
   display: flex
   justify-content: center
   align-items: center

.share-my-screen > .screen-sharing-control
   display: none

.share-my-screen:hover > .screen-sharing-control
   display: block

.share-my-screen 
   background-color: transparent
   height: 100%
   padding: 10px
   position: absolute
   bottom: 0
   left: 0
   right: 0
   grid-column: 1 / 2
   //display: none
   display: flex !important
   justify-content: center
   align-items: center

   
.screen-container
   height: 100%
   flex-grow: 1

.workspace
   display: flex
   flex-direction: column
   position: relative
   +sm
      height: auto


.screens 
   flex-grow: 1

.screen-children
   background-color: $background-darkgrey
   width: 100%
   display: flex
   height: 100%

.add-tabs-header
   height: 50px
   background-color: green
   display: flex
   justify-content: center
   align-items: center
   color: $background-white

.add-tabs
   display: flex
   flex-direction: column
   height: 200px

.tab-border
   border-bottom: 3px solid white

.add-tab 
   flex-grow: 1
   display: flex
   justify-content: center
   align-items: center
   
.tabs 
   display: flex
   align-items: center

.tab
   padding: 0 10px
   font-size: 0.8em
   cursor: pointer
   margin: 0px 10px
   
.zero-lecturer-label 
   position: absolute
   top: 50%
   left: 50%
   font-size: 0.8em
   transform: translate(-50%,-50%)
   color: white
   padding: 10px
   display: none
   background-color: rgba(0,0,0,0.5)
   border: 0
   z-index: 10


.lecturer:hover > .zero-lecturer-label 
   display: block


.lecturer 
   width: 100%
   height: 100%
   position: relative


#students 
   width: 100%
   overflow: scroll
   height: 20%

.video-label-email
   margin-top: 20px

.video-label
   display: none
   position: absolute
   // top: 50%
   // left: 50%
   font-size: 0.8em
   //background-color: $background-darkgrey
   color: $background-white
   // transform: translate(-50%,-50%)
   // color: white
   // padding: 5px
   // display: none
   background-color: rgba(0,0,0,0.5)
   // border: 0
   top: 0
   bottom: 0
   left: 0
   right: 0
   z-index: 10


.videos-control-buttons 
   display: flex
   align-items: center
   z-index: 10
   background-color: $background-darkgrey
   padding: 5px


.video-control-buttons-other 
   flex-grow: 2


.video-control-buttons-end 
   flex-grow: 1
   display: flex
   justify-content: flex-end


.end-session-options 
   display: flex


.end-session-yes 
   flex-grow: 1


.end-session-cancel 
   flex-grow: 1


.end-call 
   transform: rotate(135deg)


.control-button 
   margin: 5px


.live-container 
   background-color: $background-lightgrey
   +sm
      display: grid
      grid-template-columns: 75% 25%
      position: relative
   display: block


.workspace 
   +sm
      height: 100%


.videos 
   height: 100%
   display: flex
   flex-direction: column


.student 
   width: 100%
   height: 160px
   position: relative


.student:hover > .video-label
   display: block


.lower-container 
   display: flex
   height: 80%


.lecturer-container 
   background-color: $background-kindagrey
   width: 100%
   height: 40%


.students-container 
   width: 100%
   overflow: scroll
   display: flex
   flex-wrap: wrap
   flex-grow: 1
   align-content: flex-start
   padding: 5px 0


.chat-container 
   flex-grow: 1
   background-color: $background-kindagrey
   border-radius: 10px
   margin: 10px


.swiper-container 
   height: 100%


.swiper-slide 
   margin-right: 0 !important


.chat 
   max-width: 100%
   height: 90%
   overflow-y: scroll
   padding: 5px


.input-container 
   width: 100%
   height: 10%
   background-color: #dfe4ea
   border-bottom-right-radius: 10px
   border-bottom-left-radius: 10px
   display: flex


.input 
   height: 55px
   padding: 10px
   width: 100%


.input-div 
   width: 85%
   flex-grow: 5


.send-div 
   flex-grow: 1
   padding: 10px
   display: flex
   justify-content: center
   align-items: center
